#bloc_page {
  max-width: 2440px;
  margin: auto;
  font-family: "Arial";
  background-color: #F3E9F1;
}
#titre_page {
  max-width: 2440px;
  height: 180px;
  background-image: radial-gradient(farthest-corner at 40px 0px, #F3E9F1 40%, #E1A5D5 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#search_bar {
  text-align: center;
  display: table;
  color: white;
  table-layout: fixed;
  word-spacing: -2em;
  margin-bottom: 25px;
}
.search_zone {
  width: 500px;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  border:none;
}
.button-1 {
  font-weight: bold;
  background-color: #975EE3;
  border-radius: 0px 12px 12px 0px; 
  border: none;
  height: 41px;
  width: 40px;
  color: white;
  padding-bottom: 5px;
  font-size: 15px;
}
.logo {
  width: 200px;
  height: 100px;
}
.navigation {
  display: flex; 
  justify-content: space-between; 
  background-color:#E1A5D5;
  height: 80px;
  align-items: center; 
  font-size: 22px; 
  padding-right: 40px; 
  padding-left: 40px; 
  color: white;
  border-bottom: 3px solid #975EE3;
}
.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  height: 100px;
  margin: 80px auto 0px auto;
}
.recherche{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: solid #975EE3 2px;
  background-color: white;
  font-size: 23px;
  font-weight: bold;
}
#camera_confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F3E9F1;
  width: 100%;
  border-radius: 20px;
}
.camera {
  margin-left: 10px;
  margin-bottom: 60px;
  font-size: 30px;
}
.confirmation {font-size: 30px;}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: radial-gradient(farthest-corner at 40px 0px, #F3E9F1 40%, #E1A5D5 100%);
  width: 100%;
  margin:70px 0 0 0;
  padding-top: 5px;
  color: black;
}
.footer h3{
  width: 2440px;
  font-weight: normal;
}
.footer h3, .footer div{margin-left: 30px;}
.footer div{
  margin-bottom: 60px;
  margin-right: 120px;
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1081px){
a {font-size: 26px;}
footer h3 {font-size: 25px;}
nav {margin-bottom: 100px;}
.liste {margin-bottom: 200px;}
.footer div {margin-right: 20px;}
.confirmation{margin: 400px 15px 600px 15px;}
}
