#bloc_page {
  max-width: 1440px;
  margin: auto;
  font-family: "Arial";
  background-color: #F3E9F1;
  }

#titre_page {
  max-width: 1440px;
  margin: auto;
  text-align: center:;
  height: 180px;
  background-image: radial-gradient(farthest-corner at 40px 0px, #F3E9F1 40%, #E1A5D5 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  #search_bar
{
text-align: center;
display: table;
 color: white;
 table-layout: fixed;
 word-spacing: -2em;
 margin-bottom: 25px;
}
.search_zone
{width: 500px;
height: 40px;
border-radius: 5px 0px 0px 5px;
border:none;}
.button-1 {
 font-weight: bold;
 background-color: #975EE3;
 border-radius: 0px 12px 12px 0px; 
 border: none;
 height: 41px;
 width: 40px;
 color: white;
 padding-bottom: 5px;
 font-size: 15px;
}
.logo {
  width: 200px;
  height: 100px;
  
  }

.navigation{display: flex; 
  justify-content: space-between; 
  background-color:#E1A5D5;
   height: 80px;
    align-items: center; 
    font-size: 22px; 
    padding-right: 40px; 
    padding-left: 40px; 
    color: white;
    border-bottom: 3px solid #975EE3;
 }

.recherche {
  background-color: #F3E9F1;
  max-width: 1440px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  }
.recherche img{ margin: auto; width: 80%; height: 400px; margin-top:30px; border-radius: 10px; object-fit: cover; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }

  /*foonctionnement*/

  /*conteneur*/
.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 70%;
  height: 100px;
  margin: 80px auto 0px auto;
  }

  /*element*/
.choix{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: solid #975EE3 2px;
  background-color: white;
  font-size: 23px;
  font-weight: bold;
  }

  /*restaurant*/
#restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F3E9F1;
  width: 100%;
  border-radius: 20px;
  align-content: flex-start;
  }

  /*titre restaurant*/
.resto {
  height: 20px;
  margin-left: 10px;
  margin-bottom: 60px;
  width: 1200px;
  font-size: 30px;
  }

  /*item restaurant*/
.resto_choix {
  background-color: white;
  width: 200px;
  margin: auto;
  height: 270px;
  margin-bottom: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
.resto_images {
  width: 100%;
  height: 200px;
  margin-right: 5px;
  }
.resto_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
  }

.resto_flex_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  font-size: 16px;
  }


  /*pied de page*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: radial-gradient(farthest-corner at 40px 0px, #F3E9F1 40%, #E1A5D5 100%);
  width: 100%;
  height: 200px;
  margin:70px 0 0 0;
  padding-top: 5px;
  color: black;
  }

.footer h3 {
  width: 1200px;
  font-family: "Shrikhand";
  font-weight: normal;
  }

.footer h3, .footer div {
  margin-left: 30px;
  }

.footer div {
  margin-bottom: 60px;
  margin-right: 120px;
  }

.footer i {
  margin-right: 10px;
  }

.like {
  width: 10px;
  padding: 25px;
}

.like{
  cursor:pointer;
  color:#fff;
  -webkit-text-stroke:2px #000;
  -o-transition:all 5s;
  transition:all 5s;
  -webkit-transition:all 5s}

.like:hover{
  -webkit-text-stroke:1px transparent;
  background:-webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background:-o-linear-gradient(top left, #FF79DA, #9356DC);
  background:linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip:text;
  color:transparent;}

a {
  font-family: "Roboto";
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 250px;
  height: 70px;
  border-radius: 70px;
  background-color: #9356DC;
  border: #9356DC;
  font-size: 15px;
  color: white;
  box-shadow: 2px 5px 10px grey;
  background-image: radial-gradient(farthest-corner at 40px 0, #FF79DA 0%, #9356DC 100%);
  box-shadow: 2px 8px 10px #EAEAEA;
}
.btn:hover{opacity: 0.8;}
